{% extends 'Shop/basic.html' %}

{% block title %} About {% endblock %}
{% block body %}
<div class="container">
  <figure class="text-center">
  <blockquote class="blockquote">
    <br>
    <h2><strong>COBSHOP</strong></h2>
  </blockquote>
  <figcaption class="blockquote-footer">
    Value product  <cite title="Source Title">here with market price</cite>
  </figcaption>
</figure>
<p>This site for the coochbehar shoping an awesome site for user atrraction . our facility to help the public know the value able product in our site sell the with the market price .</p>
</div>
{% endblock %}
